<h1>Show Report</h1>
<h1><%= @report.day %></h1>

<%= @student %>

<h3>Finished today's exercises?</h3>
<h3>Read the solutions?</h3>
<h3>Read tomorrow's readings?</h3>
<h3>Rating for your understanding of today's material:</h3>
(faces of frustration 1-5)
<h3>What concept or skill did you get the best?</h3>
<h3>What concept or skill was the toughest?</h3>
<h3>Name of pair:</h3>
<h3>Rating for your pair experience today:</h3>
1-5 stars

<h3>Please explain your rating:</h3>
<h3>Comments on today's material, your understanding, feedback on what we
could do better, or anything else:</h3>

<%= link_to "All reports for #{@student}", student_url(@student) %>